.navbar {
    overflow: hidden;
    background-color: white;
}

.navbar img {
    float: left;
    height: 50px;
    padding: 5px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

body{
    background-image: url('../imgs/Background.png');
    background-repeat: no-repeat;
    background-size: cover;      
}